.dashboard-container {
  width: 100vw;
  padding: 20px;
  display: flex;
  align-items: start;
  gap: 10px;
}
.dashboard-left {
  flex: 2;
}
.dashboard-right {
  box-shadow: 0px 0px 4px 3px #8e92939e;
  flex: 3;
}
#select-file,
#select-thumbnail {
  display: none;
}
.upload-container {
  box-shadow: 0px 0px 4px 3px #8e92939e;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
  border-radius: 10px;
}
.upload-title {
  align-self: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: "PT Sans", sans-serif;
}
.select-file-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  background: #bc027e;
  height: 40px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0 20px;
  align-self: center;
}
.choose-files-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.add-video-icon {
  color: white !important;
  font-size: 1.2rem;
}
.upload-btn {
  border: none;
  background: #00a2ff;
  color: white;
  height: 35px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
.table-container {
  height: fit-content;
  padding: 10px;
}
.table-thumbnail {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.table-action {
  display: flex;
  align-items: center;
  gap: 10px;
}
.table-action-btn {
  font-size: 1.2rem;
  cursor: pointer;
}
.thumbnail-previewer {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  align-self: center;
}
