.upload-dialog-container {
  background: #2d2d2d42;
}
.upload-dialog-title {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2d2d2d;
  color: white;
  border-bottom: 0.5px solid lightgray;
}
.upload-title {
  font-size: 1.2rem;
}
.upload-title-icon {
  cursor: pointer;
  color: white !important;
  fill: white !important;
}
.upload-dialog-content-container {
  background: #2d2d2d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}
.upload-info-dialog-content-container {
  /* width: 70vw; */
  width: 600px;
  /* background: #2d2d2d; */
  color: white !important;
  fill: white !important;
}
.drag-n-drop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
}
.drag-n-drop-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.select-file-icon {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: #373738;
  padding: 30px;
  cursor: pointer;
}
.select-file-btn {
  cursor: pointer;
  background: #000;
  border: none;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 10px 15px;
}
.upload-dialog-footer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: #2d2d2d;
  border-top: 1px solid lightgrey;
}
.upload-policy-agreement-notice {
  font-size: 12px;
  color: white;
  margin-bottom: 10px;
}
.stepper-box {
  margin: 15px 0;
}
.info-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.video-preview-container {
  width: 100%;
  position: relative;
  /* color: #000; */
}
.preview-video {
  width: 100%;
}
#choose-thumbnail {
  display: none;
}
.choose-thumbnail-icon {
  /* background: #000; */
}
.choose-thumbnail-label {
  background: #00000090;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 600;
}
.video-preview-details-container {
  width: 100%;
  color: #000;
  /* background: #2d2d2d; */
  /* padding: 20px 0; */
}
.preview-title {
  font-weight: 300;
  font-size: 1rem;
  /* white-space: ; */
  /* text-wrap: nowrap; */
  text-overflow: ellipsis;
}
.preview-tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.tag {
  height: 30px;
  padding: 6px 10px;
  border-radius: 20px;
  background: #000;
  color: white;
  font-size: 12px;
}
.preview-other-info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info-key-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.key {
  color: grey;
}
.value {
  font-weight: 700;
}
.preview-description {
  padding: 15px 0;
}
