.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  background: #e8f4f5;
}

.filter-form {
  width: 100%;
  border: 2px solid #555;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background: white;
  gap: 10px;
}
.filter-input {
  border: none;
  outline: none;
  border-right: 1.5px solid #555;
  width: 90%;
  height: 100%;
}
.filter-select {
  padding-right: 10px;
  height: 100%;
  border: none;
  min-width: 80px;
  outline: none;
  position: relative;
}
.filter-option {
  position: absolute;
  top: 0;
  color: #555;
  /* padding: 10px; */
}
.filter-search-icon {
  cursor: pointer;
  border-left: 1.5px solid #555;
  margin-left: 10px;
}
.library-container {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}
.next-page {
  width: 100vw;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  /* justify-content: space-between; */
}
.next-btn {
  border: none;
  padding: 5px 10px;
  color: white;
  background: #ee05a8;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 6px;
}
.next {
  background: #0675ac !important;
}
.next:disabled {
  background: #9bd4f0 !important;
}
.next-btn:disabled {
  cursor: not-allowed;
  background: #ed9bd4;
}
.library-title {
  font-size: 1.4rem;
}
.library-elements-container {
  display: flex;
  align-self: start;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 20px 0;
  flex-wrap: wrap;
}
.library-card {
  min-width: 250px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 3px 2px rgba(85, 85, 85, 0.51);
}
.library-item-cover {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.library-item-title {
  font-size: 1.4rem;
  margin: 10px;
}
.library-card-stat {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
}
.stat{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 300;
}
.library-card-action-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 12px;
  background: #f2dcf2;
}
.library-item-btn {
  border: none;
  /* margin: 10px; */
  align-self: center;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  background: #ff0055;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: fit-content;
}

/* .play-btn {
  background: #ff0055;
} */
.see-more-link,
.library-card-action-link {
  color: #0059ff;
  text-decoration: underline;
  font-size: 1.2rem;
}
.see-more-link:hover,
.library-card-action-link:hover {
  color: #9032fc;
  font-weight: 600;
}
@media (max-width: 769px) {
  .filter-container {
    padding: 20px;
  }
  .library-container {
    padding: 20px;
  }
}
@media (max-width: 769px) {
  .library-title {
    font-size: 1.1rem;
    text-align: center;
  }
}
